*{
    margin: 100px;
    padding: 0;
}
body {
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu {
    width: 100%;
    height: 10%;
    background-color: aqua;
}


