:root{
    --cor_de_fundo: #901010;
    --cor_primaria_fonte: #000000;
}
* {
    margin:  0;
    padding: 0;
}
.banner{
    width: 200px;
    height: 50px;
    background-color: var(--cor_de_fundo);
}
.conteudo {
    width: 100%;
    height: 500px;
}

